
[MESSAGES CONTROL]
disable=
    invalid-name,
    no-else-return,
    superfluous-parens,
    too-few-public-methods,
    trailing-newlines,
    duplicate-code,
    missing-function-docstring,
    missing-class-docstring,
    missing-module-docstring,
    consider-using-f-string,
    too-many-positional-arguments,

[FORMAT]
max-line-length=80

[TYPECHECK]
generated-members=
    torch,
    tensorrt,
    pycuda,

