h5py==3.16.0
hdf5plugin==7.0.0
matplotlib==3.10.9
numpy==1.26.4
python-dateutil==2.9.0.post0
tzdata==2026.3
pandas==2.3.3
pillow==10.2.0
pylint==4.0.6
setuptools==68.2.2
torch==2.2.2
torchvision==0.17.2
tqdm==4.65.0
